*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.title{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 55px;
    line-height: 54px;
    padding-left:50px ;
    padding-right:50px ;
    position: fixed;
    z-index: 1;
    width: 1375px;
}
.title-music img{
    margin-left: 17px;
    margin-top: 5px;
}
.title-music p{
    margin-top: -5px;
}
.title-music{
    display: block;
    line-height: 23px;
}
.text-title{
    display: flex;
}
.text-title li{
    padding: 0px 10px;
}
.header{
    position: relative;
}
.header-text{
    position: absolute;
    top: 375px;
    width: 700px;
    margin-left: 100px;
    color: white;
}
.header-text1{
    font-size: 50px;
}
.header-text2{
    font-size: 36px;
}
.header-text3{
    font-size: 32px;
    background-color: rgb(255,94,0);
    width: 352px;
    text-align: center;
    margin-top: 20px;
}
.mid1{
    background-color: rgb(255,94,0);
    margin-top: -4px;
    padding-bottom: 60px;
    margin-left: -71px;
}
.mid-img{
    display: flex;
    justify-content: space-around;
    padding-left: 82px;
}
.mid-text1{
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    padding: 60px 0 20px;
}
.mid-text2{
    font-size: 23px;
    text-align: center;
    margin-bottom: 34px;
}
.mid-img1{
    background-color: rgb(36, 36, 36);
    width: 390px;
}
.mid-textimg1{
    text-align: center;
    font-size: 44px;
    margin-bottom: 10px;
}
.mid-textimg2{
    text-align: center;
    font-size: 27px;
    margin-bottom: 5px;
}

.mid-mid{
    background-color: rgb(36, 36, 36);
    margin-top: -4px;
    padding-bottom: 60px;
    margin-left: -71px;
}
.midimg2{
    font-size: 300px;
    text-align: center;
}
.midimg1{
    background-color:rgb(255,94,0) ;
    width: 390px;
}
.medal-mid{
    width: 327px;
    background-color: rgb(36, 36, 36);
    margin: 5px 32px 10px;
    font-size: 38px;
    text-align: center;
    padding: 9px;
}
.mid2{
    background-color: rgb(255,94,0);
    display: flex;
    height: 1058.58px;
}
.mid12text{
    margin-left: 94px;
    padding-top: 400px;
}
.mid-text12{
    font-size: 64px;
    font-weight: 700;
    
}
.mid-text22{
    margin-top: 24px;
    font-size: 34px;
    margin-bottom: 39px;
}
.mid13{
    background-color: rgb(36, 36, 36);
}
.mid13text{
    display: flex;
    justify-content: space-around;
    padding-bottom: 200px;   
}
.mid131{
    font-size: 50px;
}
.mid14{
    background-image: url(anh10.png);
}